@charset "UTF-8";
.cart::after, .share::after {
  font-size: 0.5rem;
  font-weight: 600;
  letter-spacing: -0.01rem;
  padding-left: 0.06rem;
}

.form__block-title, .style__block-title, .sale__title, .products-title, .main-title {
  font-weight: 600;
  line-height: 133.5%;
}

.style__block-btn, .sale__btn, .main-btn {
  font-weight: 600;
  letter-spacing: 0.04rem;
}

.form__block-text, .style__block-text, .sale__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 172.682%;
  letter-spacing: 0.04rem;
}

body {
  max-width: 90rem;
  background: #F3F3F3;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 55rem;
}
.header__aside {
  width: 10.4rem;
  background: #002A32;
  text-align: center;
}
.header__slider {
  width: 80rem;
  height: 100%;
}
.header__main-block {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 100%;
}
.header__main-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 10rem 0 6rem;
}
.header__main-wrapper {
  display: flex;
}
.header__main-text {
  width: 28rem;
  margin: 13.4rem 0 0 6rem;
}
.header__main-arrow {
  margin: 10% 0 0 25%;
}

.aside__items {
  padding: 2rem 0;
}
.aside__items:hover {
  background: #3C6C7F;
}
.aside__items-name {
  text-align: center;
  color: #B6DCFF;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.4rem;
  letter-spacing: 0.04rem;
}

.logo {
  padding: 1.2rem 0 4.4rem;
}

.main__accaunt {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.main__block {
  display: flex;
}
.main__list {
  list-style: none;
  color: #3E5860;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: -0.04rem;
}
.main__accaunt-img {
  padding-left: 0.8rem;
}
.main__menu {
  display: flex;
  align-items: center;
  gap: 2.19rem;
}
.main__menu-img {
  padding-right: 0.8rem;
}

.share::after {
  content: "12K";
  color: #DD6060;
  font-family: "Open Sans", sans-serif;
}

.cart::after {
  content: "$0";
  color: #DD6060;
  font-family: "Open Sans", sans-serif;
}

.main-text {
  color: #4E6E77;
  font-family: "Dancing Script ,cursive";
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 152.5%;
  letter-spacing: 0.06rem;
}

.main-title {
  color: #264A51;
  font-family: "Dosis", sans-serif;
  font-size: 3.1rem;
  letter-spacing: 0.14rem;
}

.main-btn {
  width: 8.8rem;
  height: 2.7rem;
  text-align: center;
  background: rgba(108, 176, 195, 0);
  border-radius: 0.2rem;
  border: 1.5px solid #43717D;
  color: #264A51;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.arrow-text {
  position: relative;
  right: 130px;
  top: 22px;
  width: 9rem;
  color: #4E6E77;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.arrow-arrow {
  position: relative;
  right: 60px;
  bottom: 4px;
}

.circle {
  display: flex;
  align-items: center;
  position: relative;
  left: 49px;
  bottom: 1px;
}

.circle-2 {
  position: relative;
  right: 6px;
}

.slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
  height: 55rem;
}

.slider-img {
  height: 55rem;
}

.slick-track {
  display: flex;
  text-align: center;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 3.5rem;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: inherit;
  border: 2px solid #677F8B;
}
.slick-dots li {
  margin: 0 10px;
}

.slick-active button {
  background: transparent;
  background: #677F8B;
}

.brands {
  background: #D2E2EE;
}

.conteiner {
  max-width: 66rem;
  margin: auto;
}

.brands-block {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(6, 1fr);
  padding: 1.8rem 0;
}

.products {
  text-align: center;
}
.products__nav-lists {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2.5rem;
}
.products__nav-list {
  color: #748289;
  font-family: "Open Sans", sans-serif;
  font-size: 1.07rem;
  letter-spacing: 0.05rem;
  padding: 1rem 0;
  border: 2px solid #F3F3F3;
  cursor: pointer;
}
.products__nav-list:hover {
  border-radius: 0.2rem;
  border: 2px solid #3E5860;
  background: rgba(54, 65, 68, 0);
}

.products-title {
  color: #264A51;
  font-family: "Dosis", sans-serif;
  font-size: 2.9rem;
  letter-spacing: 0.13rem;
  padding: 5.8rem 0 2rem;
}

.prouct__cards {
  display: grid;
  justify-content: center;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  gap: 1.5rem 2rem;
  margin: 2.13rem 0 7rem;
}

.product__card {
  display: flex;
  flex-direction: column;
  width: 22rem;
}
.product__card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background: #F1F6F9;
  border-radius: 0.1875rem;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.product__card-wrapper {
  display: flex;
  justify-content: space-between;
}
.product__card-foto {
  padding: 4.3rem 0 4.3rem 0;
  width: 90%;
}
.product__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -34%;
}
.product__info-sale {
  background: #264A51;
  margin: 1.88rem 0 1.4rem;
}
.product__info-new {
  background: #71B3C6;
  color: #D4DCE2;
  margin-bottom: 2.5rem;
}
.product__info-stoke {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.3rem;
  height: 1.9rem;
  border-radius: 0.2rem 0rem 0rem 0.2rem;
  background: #264A51;
  color: #FFF;
  font-family: "Mukta", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 172.682%;
  letter-spacing: 0.03rem;
}
.product__card-btns {
  padding: 0.75rem 0 1.75rem 0;
}
.product__card-text {
  margin-top: 0.75rem;
}
.product__rating {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 20px;
  line-height: 0.75;
}

.product__info-sale, .product__info-new {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: #D2E2EE;
}

.product__name, .product__price {
  color: #264A51;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 133.5%;
  letter-spacing: 0.04rem;
}

.rating-body {
  position: relative;
}
.rating-body::before {
  content: "★★★★★";
  display: block;
  color: #FFF;
}

.rating-activ {
  position: absolute;
  width: 70%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating-activ::before {
  content: "★★★★★";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(224, 224, 3);
}

.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating-item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating-value {
  font-size: 50%;
  line-height: 1;
  padding-left: 1rem;
}

.sale {
  background-image: url(../../imeges/img/sale.svg);
  background-position: center;
  background-size: cover;
  height: 46rem;
}
.sale__block {
  max-width: 50rem;
  text-align: center;
  padding: 15rem 0 0 10rem;
}
.sale__sale {
  color: #F3B705;
  font-family: "Dosis", sans-serif;
  font-size: 5.6rem;
  font-weight: 800;
  line-height: 0rem;
  letter-spacing: 0.25rem;
}
.sale__title {
  color: #264A51;
  font-family: "Dosis", sans-serif;
  font-size: 3.75rem;
  letter-spacing: 0.17rem;
  margin: 3rem 0 1rem 0;
}
.sale__text {
  margin: auto;
  max-width: 25rem;
  color: #335E74;
  font-family: "Mukta", sans-serif;
}
.sale__btn {
  width: 9rem;
  height: 2.7rem;
  border-radius: 0.2rem;
  border: 2px solid #264A51;
  background: rgba(108, 176, 195, 0);
  color: #264A51;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  margin-bottom: 11rem;
}

.style {
  position: relative;
  display: flex;
  padding: 7.25rem 7rem;
  align-items: center;
}
.style:nth-child(even) {
  flex-direction: row-reverse;
}
.style:nth-child(even) .style__block-texts {
  text-align: center;
  padding-left: 0;
  padding-right: 3rem;
}
.style__block-texts {
  text-align: center;
  padding-left: 3rem;
}
.style__block-title {
  color: #264A51;
  font-family: "Dosis", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.11rem;
}
.style__block-text {
  color: #335E74;
  font-family: "Mukta", sans-serif;
  padding: 1.5rem 0;
}
.style__block-btn {
  width: 8.9375rem;
  height: 2.6875rem;
  border-radius: 0.2rem;
  border: 2px solid #264A51;
  color: #264A51;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
}

.styles-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 9.25rem;
  border-radius: 0.2rem;
  background: rgba(113, 179, 198, 0.85);
  color: #FFF;
  font-family: "Dosis", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.2rem;
  letter-spacing: 0.07rem;
}

.living {
  left: 51%;
  top: 65%;
}

.dining {
  left: 38%;
  top: 55%;
}

.bed {
  left: 53%;
  top: 55%;
}

.kitchen {
  left: 39%;
  top: 53%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../imeges/img/form.svg), lightgray 50%/cover no-repeat;
  height: 38rem;
}
.form__text-block {
  text-align: center;
}
.form__block-title {
  color: #264A51;
  font-family: "Dosis", sans-serif;
  font-size: 2.9rem;
  letter-spacing: 0.13rem;
}
.form__block-text {
  max-width: 25rem;
  color: #FFF;
  font-family: "Mukta", sans-serif;
  margin: 1rem 0 1.5rem;
}
.form__block-input {
  width: 29rem;
  height: 3rem;
  border-radius: 3.125rem;
  border: 0px solid #ACCAE0;
  background: #DAE5EE;
  box-shadow: 0px 15px 30px 0px rgba(34, 34, 34, 0.11);
  font-size: 1.07rem;
  padding-left: 20px;
}
.form__block-btn {
  width: 8.5rem;
  height: 3rem;
  border-radius: 3.125rem;
  background: rgba(38, 74, 81, 0.89);
  box-shadow: -2px 15px 40px 0px rgba(0, 0, 0, 0.11);
  color: #FFF;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-size: 1.0625rem;
  font-weight: 500;
  line-height: 172.682%;
  letter-spacing: 0.04781rem;
  margin-left: -8.5rem;
  margin-top: 1px;
}

.footer__contacts-blocs {
  display: grid;
  grid-template-columns: 16rem 1fr 1fr 1fr;
  gap: 3.5rem;
}

.contacts {
  margin-top: 6rem;
}
.contacts__block-logo {
  padding: 1rem 0;
}
.contacts__block-text {
  color: #335E74;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.04rem;
}
.contacts__block-sety {
  margin-top: 1.2rem;
}
.contacts__block-title {
  color: #264A51;
  font-family: "Mukta", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 5.1rem;
  letter-spacing: 0.08rem;
}
.contacts__block-servis {
  width: 17rem;
  border-radius: 0.4rem;
  background: #A0C7EA;
  padding: 1.4rem 1.2rem;
}
.contacts__block-span {
  color: #FFF;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  padding-left: 0.5rem;
}

.text-color {
  color: #335E74;
}

.footer-texts {
  display: flex;
  justify-content: center;
  margin-top: 2.8rem;
  background: #D3E2EF;
}

.footer-text {
  color: #335E74;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  line-height: 1.9rem;
  letter-spacing: 0.03rem;
  padding-left: 5px;
}/*# sourceMappingURL=style.css.map */