$font-family1: "Open Sans", sans-serif;
$font-family2: "Dancing Script ,cursive";
$font-family3:  "Dosis", sans-serif;
$font-family4: "Mukta", sans-serif;
$color-bg:#F3F3F3;
$aside-bg:#002A32;
$aside-items-bg:  #3C6C7F;
$items-name-color: #B6DCFF;
$color-list:#3E5860;
$color-share:#DD6060;
$color-main-text:#4E6E77;
$color-main-title:#264A51;
$color-main-btn-border:#43717D;
$color-main-btn-bg: rgba(108, 176, 195, 0.00);
$color-slick-dots: #677F8B;
$color-brands:#D2E2EE;
$color-nav-list:#748289;
$card-main-bg:#F1F6F9;
$info-new-bg:#71B3C6;
$info-new-color:  #D4DCE2;
$color-sale:#F3B705;
$sale-text: #335E74;
$color: #FFF;
$block-input-border:#ACCAE0;
$block-input-bg:#DAE5EE;
$block-btn:rgba(38, 74, 81, 0.89);
$block-servis-bg:#A0C7EA;
$footer-texts-bg:#D3E2EF;

